@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding-left: 0rem;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

dl,
ol,
ul {
  margin-bottom: 0rem !important;
}

a {
  text-decoration: none;
}

ul > li {
  list-style-type: none !important;
}

ol,
ul {
  padding-left: 0rem !important;
}

:root {
  --poppins: "Poppins", sans-serif;
  --black: #222222;
  --white: #fff;
  --color-bg: #1f1f38;
  --color-bg-green: #31b675;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--poppins);
  background-color: var(--color-bg);
  color: var(--white);
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

/* section {
    min-height: 100vh;
    padding: 3rem 0rem;
    h2,
    h5 {
        text-align: center;
        color: var(--color-light);
    }
    h2 {
        color: var(--color-primary);
        margin-bottom: 3rem;
        @include breakpoint(sm) {
            margin-bottom: 2rem;
        }
    }
} */
.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

a:hover {
  color: var(--white);
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=index.css.map */